<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles/4-common.css" }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-header.css" }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/3-footer.css" }}?cache_id={{ cache_id }}">
    <link rel="stylesheet" type="text/css" href="../static/styles/6-filters.css" }}?cache_id={{ cache_id }}">
    <link type="text/css" rel="stylesheet" href="../static/styles/8-places.css" }}?cache_id={{ cache_id }}">
    <link rel="icon" href="../static/images/icon.png" /> }}?cache_id={{ cache_id }}">
    <title>HBnB</title> 
  </head>
  <body>
    <header>
      <div class="logo"></div>
      <!-- Other header content -->
    </header>
    <!-- Rest of the body content -->
    <div class="container">
      <section class="filters">
	  <!-- Places will be loaded here by JavaScript -->
        <div class="locations">
          <h3>States</h3>
          <h4>&nbsp;</h4>
 	    <div class="popover">
            <ul>                                      1,1           Top

